@model WebShopProject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create product</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="CreateProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" > </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked="checked" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" min="1" step="any" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                
            </div>
            <div class="form-group mt-2">
                <label class="control-label">Use default image</label>
                <input type="checkbox" id="chkDefaultImage" name="chkDefaultImage" onclick="CheckDefault()" />
            </div>

            <div class="form-group" id="imageUpload" >
                <input type="file" id="productImage" asp-for="ProductImage" class="form-control" onchange="PicturePreview()" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label class="control-label">Upload without category</label>
                <input type="checkbox" id="chkCategory" name="chkCategory" onclick="CheckDefault()" />
            </div>

            <div class="form-group" id="showCategory">
                @if(Model.Category != null)
                {

                    @*TODO category dropdown*@


                    <select class="form-select" name="selectCategoryId" aria-label="Select category">
                        <option selected>Category</option>
                        @foreach(var item in Model.Category)
                        {
                            <option value="@item.Id">@item.Name</option>    
                        }

                        
                    </select>
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                }else
                {
                  <div>No categories in database.</div> 
                }
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-dark " asp-action="Index">Back to Products</a>
            </div>

        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img id="defaultProductImage" src="~/images/default.png" height="500"/>
    </div>
</div>

<div>

</div>
@section scripts{
    <script>
        function PicturePreview() {
            var preview = document.querySelector('#defaultProductImage');
            
            var isSelected = document.querySelector('#productImage') !== null;

            if(isSelected)
            {
                var productImage = document.querySelector('#productImage').files[0];
            }
            var reader = new FileReader();

            reader.onloadend = function() {
                preview.src = reader.result;
            }
            if(isSelected)
            {
                reader.readAsDataURL(productImage);
            }else{
                preview.src = "";
            }

            
        }


        function CheckDefault(){
            var checkBoxImage = document.getElementById('chkDefaultImage');
            var checkBoxCategory = document.getElementById('chkCategory');
            
            var imageUpload = document.getElementById('imageUpload');
            var showCategory = document.getElementById('showCategory');

            if (checkBoxCategory.checked == true) {
                showCategory.style.display = "none";
            } else {
                showCategory.style.display = "block";
            }

            if(checkBoxImage.checked == true)
            {
                imageUpload.style.display = "none";
            }else{
                imageUpload.style.display = "block";
            }
        }               

        
    </script>
}
